tectoplot.history
tectoplot.last
tectoplot.shortsources
tectoplot.sources
tectoplot_defs/tectoplot.gmtcpts
.DS_Store
cscripts/access_litho
cscripts/access_litho.o
reasenberg/reasenberg
cscripts/texture_shader/shadow
cscripts/texture_shader/svf
cscripts/texture_shader/texture
cscripts/texture_shader/texture_image
tectoplot.docx
info_messages.txt
tectoplot_opts/
